extends index

block append content
    form(action='/api/messages/create', method='post')
        input(type='text' name='message')
        input(type='submit')
    script(src='/js/lib/ajaxform.js')
    script(src='/js/message-feed.js')