extends index

block append content
    div.container-fluid
        div.row-fluid
            form(action='/api/messages/create', method='post',id='createMessage')
                div.input-group.messagebox.centering.text-center
                    input(type='text' name='message',placeholder='What do you think?').form-control
                    span.input-group-btn
                        button(type='submit').btn.btn-primary
                            i.glyphicon.glyphicon-bullhorn
    script(type='text/javascript').
        require(['message-create'])