extends index

block append content
    form(action='/api/messages/create', method='post',id='createMessage').form-horizontal
        div.input-append.span12
            input(type='text' name='message',placeholder='What do you think?').input-large
            input(type='submit').btn
    script(type='text/javascript').
        require(['message-create'])