!!!5
html(ng-app)
    head
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/site.css')
    body
        block content

            script(src='/js/lib/require.js')
            script(type='text/javascript').
                require.config({
                    paths: {
                        'jQuery': '/js/lib/jquery',
                        'socket.io': '/js/lib/socket.io',
                        'bootstrap': '/bootstrap/js/bootstrap.min',
                        'message-create': '/js/message-create',
                        'message-feed': '/js/message-feed'
                    },
                    shims: {
                        'bootstrap': {
                            deps: ['jQuery']
                        }
                    }
                });

                require(['jQuery','bootstrap'], function(){});